*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

:root{
    --cor1:rgb(30, 70, 116);
    --cor2:rgb(21, 49, 80);
}

body{
    background-color: var(--cor1);
}

section{
    width: 100%;
    align-items: center;
    display: flex;
}

.pontuacao{
    display: flex;
    margin: 15px auto;
    background-color: azure;
    min-width: 30vw;
    max-width: 30vw;
    min-height: 10vh;
    max-height: 30vh;
    border-radius: 1.6rem;
    padding: 1rem 2rem 1rem 2rem;
    align-items: center;
    justify-content: center;
}

.pontuacao h1{
    margin-left: 10px;
}

.melhor-pontuacao{
    display: flex;
    margin: 15px auto;
    background-color: azure;
    min-width: 30vw;
    max-width: 30vw;
    min-height: 10vh;
    max-height: 30vh;
    border-radius: 1.6rem;
    padding: 1rem 2rem 1rem 2rem;
    align-items: center;
    justify-content: center;
}

.melhor-pontuacao h1{
    margin-left: 10px;
}


.div_game{
    display: inline-block;
    margin: 0px auto;
    background-color: azure;
    min-width: 30vw;
    max-width: 50vw;
    min-height: 50vh;
    max-height: 90vh;
    border-radius: 2rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.button_grande{
    justify-content: center;
    display: flex;
    margin: 30% auto;
    border: none;
    background-color:var(--cor2);
    color: aliceblue;
    padding: 1rem;
    font-size: 48px;
    border-radius: 1rem;
}

.button_grande:hover{
    background-color:rgb(55, 108, 168);
    color: rgb(10, 20, 77);
}

.palavrinha{
    margin: 40px auto;
    text-align: center;
    color: black;
    text-align: center;
    font-size: 37px
}
.timer{
    margin: 40px auto;
    text-align: center;
    color: black;
    text-align: center;
    font-size: 37px
}

.passa{
    display: flex;
    margin: 0px auto;
    border: none;
    background-color:var(--cor2);
    color: aliceblue;
    padding: 1rem;
    font-size: 48px;
    border-radius: 1rem;
}

.passa:hover{
    background-color:rgb(55, 108, 168);
    color: rgb(10, 20, 77);
}

.resposta{
    text-align: center;
    padding: 8px;
    font-size: 28px;
    max-width: 80vw;
    max-height: 50vh;
    display: flex;
    margin: 0px auto;
    background-color: rgb(173, 238, 187);
    border-style: none;
    border-radius: 2rem;
}

.pronto{
    display: flex;
    margin: 20px auto;
    border: none;
    background-color:rgb(93, 158, 107);
    color: aliceblue;
    padding: 1rem;
    font-size: 38px;
    border-radius: 1rem;
}

.pronto:hover{
    background-color:rgb(57, 93, 65);
}

.btnProxima{
    display: flex;
    margin: 10px auto;
    border: none;
    background-color:rgb(93, 158, 107);
    color: aliceblue;
    padding: 1rem;
    font-size: 38px;
    border-radius: 1rem;
}

.btnProxima:hover{
    background-color:rgb(57, 93, 65);
}

.acerto{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
}

.imgAcerto{
    display: flex;
    min-width: 14vw;
    max-width: 15vw;
    margin: 0px auto;
}

@media(max-width: 650px){
    .resposta{
        font-size: 15px;
        
    }

    .pronto{
        display: flex;
        margin: 20px auto;
        border: none;
        background-color:rgb(93, 158, 107);
        color: aliceblue;
        padding: 1rem;
        font-size: 25px;
        border-radius: 1rem;
    }
    
    .melhor-pontuacao h1,.pontuacao h1{
        font-size: 18px;
    }
    

    .div_game{
        display: inline-block;
        margin: 0px auto;
        background-color: azure;
        min-width: 60vw;
        max-width: 70%;
        max-height: 90vh;
        border-radius: 2rem;
        padding: 2rem;
        align-items: center;
        justify-content: center;
    }

    .pontuacao{
        display: flex;
        margin: 15px auto;
        background-color: azure;
        min-width: 30vw;
        max-width: 70%;
        min-height: 10vh;
        max-height: 30vh;
        border-radius: 1.6rem;
        padding: 1rem 2rem 1rem 2rem;
        align-items: center;
        justify-content: center;
    }
    
    .melhor-pontuacao{
        display: flex;
        margin: 15px auto;
        background-color: azure;
        min-width: 30vw;
        max-width: 70%;
        min-height: 10vh;
        max-height: 30vh;
        border-radius: 1.6rem;
        padding: 1rem 2rem 1rem 2rem;
        align-items: center;
        justify-content: center;
    }

    .btnProxima{
        display: flex;
        margin: 10px auto;
        background-color:rgb(93, 158, 107);
        color: aliceblue;
        padding: 1rem;
        font-size: 18px;
    }

    .imgAcerto{
        display: flex;
        min-width: 14vw;
        max-width: 35vw;
        margin: 0px auto;
    }
    
}
